* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #fdfdff;
}



.css-11b3ww9-MuiPaper-root-MuiAppBar-root {
    position: sticky !important;
    background-color: orange !important;
}



.logo {

    width: 100px;
    padding: 10px;
}

.nav-items {
    padding-right: 10px;
    padding-left: 10px;
}

.nav-items>ul {
    display: flex;
    list-style-type: none;
    font-size: 24px;
}

.nav-items>ul>li {
    padding: 10px;
    margin: 10px;

}

.res-shimmer {
    width: 100%;
    border-radius: 20px;
    height: 200px;
    background-color: #d3d3d3;
}