<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <title>Document</title>
</head>

<body>
    <div class="header" style="display: flex; padding: 1%; margin-left: 2%;">
        <img src="favicon.png" alt="logo" style="padding: 7px;">
        <h1 style="color:#002855">Corewell Health</h1>

    </div>
    <hr style="height: 0;border: 0; box-shadow: 0 0 5px 1px black;">
    <div class="" style="margin:4%;">
        <div class="title">
            <h1 style="color:#002855">Contact Form</h1>
        </div>
        <div class="form" style="width:50%">
            <form>
                <div class="form-group">
                    <label>First Name</label>
                    <input type="name" class="form-control" id="fname" aria-describedby="fname"
                        placeholder="First Name">
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="name" class="form-control" id="lname" aria-describedby="lname" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <label>Communication Preference</label>
                    <div class="input-group">
                        <select class="custom-select" id="inputGroupSelect04">
                            <option selected>Select...</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>

                    </div>
                </div>
                <div class="form-group">
                    <label>Phone Number</label>
                    <input type="number" class="form-control" id="phnNo" aria-describedby="phnNo"
                        placeholder="Phone Number">
                </div>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">Consent for Text Messages</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="name@example.com">
                </div>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">Consent for Email</label>
                    </div>
                </div>
                <div class="form-group">
                    <label>Zip Code</label>
                    <input type="number" class="form-control" id="zipCode" aria-describedby="zipCode"
                        placeholder="Zip Code">
                </div>


                <div style="display: flex; justify-content: center;">
                    <button type="cancel" class="btn btn-secondary" style="margin-right: 5px;">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>

        </div>




        </form>
    </div>

    </div>


</body>
<footer style="background-color: #002855;">
    <div style="color: white; padding-left: 5%; display: flex; padding-top: 3%;padding-bottom: 3%;">
        <div style="padding: 10px;">About</div>
        <div style="padding: 10px;">Privacy Policy</div>


    </div>
    <div style="padding-left: 5%; padding-top: 1%; font-size: 10px;">
        <div style="color:white">@ 2024 Corewell Health</div>
        <div style="color:white">For Michigan, By Michigan</div>
    </div>


</footer>

</html>