<div
    style="width: 1440px; height: 1024px; flex-direction: column; justify-content: flex-end; align-items: flex-start; display: inline-flex">
    <div
        style="align-self: stretch; height: 120px; padding-top: 40px; padding-left: 100px; padding-right: 100px; background: white; box-shadow: 0px 4px 4px #CCD4DD; border-bottom: 1px #E5E7EB solid; justify-content: center; align-items: center; display: inline-flex">
        <div
            style="flex: 1 1 0; align-self: stretch; justify-content: flex-start; align-items: center; gap: 196px; display: inline-flex">
            <div style="width: 246.75px; height: 40px; position: relative">
                <div style="width: 238.64px; left: 1.20px; top: 1.30px; position: absolute">
                    <div style="width: 193.09px; height: 19.27px; left: 45.56px; top: 8.74px; position: absolute">
                        <div
                            style="width: 16.78px; height: 18.81px; left: -0px; top: 0.47px; position: absolute; background: #002855">
                        </div>
                        <div
                            style="width: 15.06px; height: 14.49px; left: 17.48px; top: 4.78px; position: absolute; background: #002855">
                        </div>
                        <div
                            style="width: 8.39px; height: 14.19px; left: 34.55px; top: 4.77px; position: absolute; background: #002855">
                        </div>
                        <div
                            style="width: 13.66px; height: 14.49px; left: 43.66px; top: 4.78px; position: absolute; background: #002855">
                        </div>
                        <div
                            style="width: 21.12px; height: 14.08px; left: 57.69px; top: 4.99px; position: absolute; background: #002855">
                        </div>
                        <div
                            style="width: 13.66px; height: 14.49px; left: 79.09px; top: 4.78px; position: absolute; background: #002855">
                        </div>
                        <div
                            style="width: 3.95px; height: 18.96px; left: 94.83px; top: 0px; position: absolute; background: #002855">
                        </div>
                        <div
                            style="width: 3.95px; height: 18.96px; left: 102.29px; top: 0px; position: absolute; background: #002855">
                        </div>
                        <div
                            style="width: 15.38px; height: 18.18px; left: 115.55px; top: 0.78px; position: absolute; background: #002855">
                        </div>
                        <div
                            style="width: 13.66px; height: 14.49px; left: 132.98px; top: 4.78px; position: absolute; background: #002855">
                        </div>
                        <div
                            style="width: 12.81px; height: 14.34px; left: 147.97px; top: 4.88px; position: absolute; background: #002855">
                        </div>
                        <div
                            style="width: 3.95px; height: 18.96px; left: 163.45px; top: 0px; position: absolute; background: #002855">
                        </div>
                        <div
                            style="width: 8.88px; height: 17.71px; left: 169.32px; top: 1.48px; position: absolute; background: #002855">
                        </div>
                        <div
                            style="width: 12.75px; height: 18.96px; left: 180.33px; top: 0px; position: absolute; background: #002855">
                        </div>
                    </div>
                    <div style="width: 36.01px; height: 37.41px; left: 0px; top: 0px; position: absolute">
                        <div
                            style="width: 35.50px; height: 29.78px; left: 0.51px; top: 0px; position: absolute; background: #67F48C">
                        </div>
                        <div
                            style="width: 35.50px; height: 29.79px; left: 0px; top: 7.62px; position: absolute; background: #0ED7E5">
                        </div>
                    </div>
                </div>
                <div
                    style="width: 5.64px; height: 2.80px; left: 239.66px; top: 10.11px; position: absolute; background: #002855">
                </div>
            </div>
        </div>
    </div>
    <div
        style="width: 1440px; height: 920px; position: relative; background: white; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
        <div
            style="width: 464px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 30px; display: inline-flex">
            <div
                style="color: #002855; font-size: 50px; font-family: Montserrat; font-weight: 800; line-height: 53px; word-wrap: break-word">
                Contact Form</div>
            <div
                style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
                <div
                    style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 5px; display: flex">
                    <div
                        style="color: black; font-size: 16px; font-family: Montserrat; font-weight: 500; line-height: 24px; word-wrap: break-word">
                        First Name</div>
                    <div
                        style="width: 464px; height: 40px; background: white; border-radius: 4px; border: 1px #CCD4DD solid">
                    </div>
                </div>
                <div
                    style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 5px; display: flex">
                    <div
                        style="color: black; font-size: 16px; font-family: Montserrat; font-weight: 500; line-height: 24px; word-wrap: break-word">
                        Last Name</div>
                    <div
                        style="width: 464px; height: 40px; background: white; border-radius: 4px; border: 1px #CCD4DD solid">
                    </div>
                </div>
                <div
                    style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 5px; display: flex">
                    <div
                        style="color: black; font-size: 16px; font-family: Montserrat; font-weight: 500; line-height: 24px; word-wrap: break-word">
                        Communication Preference</div>
                    <div style="width: 272px; height: 40px; position: relative">
                        <div
                            style="width: 272px; height: 40px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 4px; border: 1px #CCD4DD solid">
                        </div>
                        <div
                            style="width: 24px; height: 24px; padding-left: 7.70px; padding-right: 7.70px; left: 241px; top: 8px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
                            <div style="width: 8.60px; height: 4.70px; background: black"></div>
                        </div>
                        <div
                            style="left: 9px; top: 8px; position: absolute; color: rgba(0, 16, 53, 0.40); font-size: 16px; font-family: Montserrat; font-weight: 500; line-height: 24px; word-wrap: break-word">
                            Select</div>
                    </div>
                </div>
                <div
                    style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 5px; display: flex">
                    <div
                        style="color: black; font-size: 16px; font-family: Montserrat; font-weight: 500; line-height: 24px; word-wrap: break-word">
                        Phone Number</div>
                    <div
                        style="width: 273px; height: 40px; background: white; border-radius: 4px; border: 1px #CCD4DD solid">
                    </div>
                </div>
                <div
                    style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 5px; display: flex">
                    <div
                        style="color: black; font-size: 16px; font-family: Montserrat; font-weight: 500; line-height: 24px; word-wrap: break-word">
                        Consent for Text Messages</div>
                    <div
                        style="width: 20px; height: 20px; justify-content: center; align-items: center; display: inline-flex">
                        <div
                            style="width: 20px; height: 20px; background: white; border-radius: 4px; border: 1px #CCD4DD solid">
                        </div>
                    </div>
                </div>
                <div
                    style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 5px; display: flex">
                    <div
                        style="color: black; font-size: 16px; font-family: Montserrat; font-weight: 500; line-height: 24px; word-wrap: break-word">
                        Email</div>
                    <div
                        style="width: 464px; height: 40px; background: white; border-radius: 4px; border: 1px #CCD4DD solid">
                    </div>
                </div>
                <div
                    style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 5px; display: flex">
                    <div
                        style="color: black; font-size: 16px; font-family: Montserrat; font-weight: 500; line-height: 24px; word-wrap: break-word">
                        Consent for Email</div>
                    <div
                        style="width: 20px; height: 20px; justify-content: center; align-items: center; display: inline-flex">
                        <div
                            style="width: 20px; height: 20px; background: white; border-radius: 4px; border: 1px #CCD4DD solid">
                        </div>
                    </div>
                </div>
                <div
                    style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 5px; display: flex">
                    <div
                        style="color: black; font-size: 16px; font-family: Montserrat; font-weight: 500; line-height: 24px; word-wrap: break-word">
                        Zip Code</div>
                    <div
                        style="width: 176px; height: 40px; background: white; border-radius: 4px; border: 1px #CCD4DD solid">
                    </div>
                </div>
            </div>
            <div style="width: 464px; justify-content: flex-end; align-items: center; gap: 25px; display: inline-flex">
                <div
                    style="color: #2A7DE1; font-size: 16px; font-family: IBM Plex Sans; font-weight: 400; text-decoration: underline; line-height: 24px; word-wrap: break-word">
                    Cancel</div>
                <div
                    style="padding-left: 16px; padding-right: 16px; padding-top: 10px; padding-bottom: 10px; background: #002855; border-radius: 60px; justify-content: center; align-items: center; gap: 8px; display: flex">
                    <div
                        style="text-align: center; color: white; font-size: 16px; font-family: Montserrat; font-weight: 600; line-height: 24px; word-wrap: break-word">
                        Submit</div>
                    <div
                        style="width: 22px; height: 22px; padding: 1.83px; justify-content: center; align-items: center; display: flex">
                        <div style="width: 18.33px; height: 18.33px; background: white"></div>
                    </div>
                </div>
            </div>
        </div>
        <div
            style="width: 1440px; padding-top: 53px; padding-bottom: 61px; padding-left: 100px; padding-right: 1098px; background: #002855; justify-content: flex-start; align-items: center; display: inline-flex">
            <div
                style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
                <div style="justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
                    <div
                        style="padding: 8px; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                        <div
                            style="color: white; font-size: 14px; font-family: Montserrat; font-weight: 500; line-height: 20px; word-wrap: break-word">
                            About Us</div>
                    </div>
                    <div
                        style="width: 15px; height: 0px; transform: rotate(90deg); transform-origin: 0 0; border: 1px #CCCCCC solid">
                    </div>
                    <div
                        style="padding: 8px; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                        <div
                            style="color: white; font-size: 14px; font-family: Montserrat; font-weight: 500; line-height: 20px; word-wrap: break-word">
                            Privacy Policy</div>
                    </div>
                    <div
                        style="padding: 8px; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                        <div></div>
                    </div>
                </div>
                <div style="padding: 8px; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
                    <div
                        style="color: #CCD4DD; font-size: 12px; font-family: Montserrat; font-weight: 400; line-height: 20px; word-wrap: break-word">
                        © 2024 Corewell Health <br />For Michigan,‎ By Michigan.® </div>
                </div>
            </div>
        </div>
    </div>
</div>